.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__spU1H {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__spU1H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__spU1H > :global(.__wab_flex-container) > *,
.freeBox__spU1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__spU1H > :global(.__wab_flex-container) > picture > img,
.freeBox__spU1H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spU1H {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spU1H > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spU1H > :global(.__wab_flex-container) > *,
  .freeBox__spU1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__spU1H > :global(.__wab_flex-container) > picture > img,
  .freeBox__spU1H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___1FlHc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___1FlHc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1FlHc > :global(.__wab_flex-container) > *,
.freeBox___1FlHc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1FlHc > :global(.__wab_flex-container) > picture > img,
.freeBox___1FlHc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__s2LwN {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text___8OTgb {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg___0CkX3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3G1S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hRtta:global(.__wab_instance) {
  position: relative;
}
.svg__rT0X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tkqrj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nlKV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__nlKV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nlKV > :global(.__wab_flex-container) > *,
.freeBox__nlKV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nlKV > :global(.__wab_flex-container) > picture > img,
.freeBox__nlKV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__pkCqb {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__cDrQi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cDrQi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cDrQi > :global(.__wab_flex-container) > *,
.freeBox__cDrQi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cDrQi > :global(.__wab_flex-container) > picture > img,
.freeBox__cDrQi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__l1Hye {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___5Ll8W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rOpTo:global(.__wab_instance) {
  position: relative;
}
.svg__dx9Oo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__peJsi {
  height: auto;
}
.svg__zFbcw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__y4VA:global(.__wab_instance) {
  position: relative;
}
.svg___5KbYp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__qG0Sk {
  height: auto;
}
.svg__mWyui {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__efMHb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__efMHb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__efMHb > :global(.__wab_flex-container) > *,
.freeBox__efMHb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__efMHb > :global(.__wab_flex-container) > picture > img,
.freeBox__efMHb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___3DcNg {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox___4FYd9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__aGxT {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__aGxT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__aGxT > :global(.__wab_flex-container) > *,
.freeBox__aGxT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aGxT > :global(.__wab_flex-container) > picture > img,
.freeBox__aGxT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__ivkSz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d0IeB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dgNqi:global(.__wab_instance) {
  position: relative;
}
.svg__mx3Gp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fQJvM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vmtuf:global(.__wab_instance) {
  position: relative;
}
.svg__wWwVj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1PL7Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gkgJo:global(.__wab_instance) {
  position: relative;
}
.svg__q7QyU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bE6J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ewImN {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ewImN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ewImN > :global(.__wab_flex-container) > *,
.freeBox__ewImN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ewImN > :global(.__wab_flex-container) > picture > img,
.freeBox__ewImN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__zg48Q:global(.__wab_instance) {
  position: relative;
}
.svg__sDfJm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iUnB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__bohbQ:global(.__wab_instance) {
  position: relative;
}
.svg__hhv3Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iScL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eRNpw:global(.__wab_instance) {
  position: relative;
}
.svg___78YTs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pUoIk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
