.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.link {
  display: flex;
  position: relative;
  box-shadow: 0px 4px 8px 0px #0000000d;
  flex-direction: column;
  cursor: pointer;
  max-width: 256px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 12px;
}
.linksmall {
  height: 100%;
  box-shadow: none;
  min-height: 0;
  border: 1px solid #e5e5ea;
}
.root .link:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.img {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  min-width: 256px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
}
.img > picture > img {
  object-fit: cover;
}
.root:hover .img {
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
}
.freeBox__qrHr {
  display: block;
  position: relative;
}
.freeBox__jhCU {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  z-index: 5;
  background: #ffffff;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.25s;
  padding: 24px;
}
.freeBox__jhCU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jhCU > :global(.__wab_flex-container) > *,
.freeBox__jhCU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jhCU > :global(.__wab_flex-container) > picture > img,
.freeBox__jhCU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBoxsmall__jhCUbZh9Z {
  display: none;
}
.freeBox__wtce {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.svg___3WUtq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Sccg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__dw29O:global(.__wab_instance) {
  position: relative;
}
.freeBox__tngR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tngR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tngR > :global(.__wab_flex-container) > *,
.freeBox__tngR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tngR > :global(.__wab_flex-container) > picture > img,
.freeBox__tngR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__uIAij {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text__kVpwk {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-SHOLaE_i3vXl);
  font-size: 14px;
  min-width: 0;
}
.price:global(.__wab_instance) {
  position: relative;
}
