.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__typK {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/copy_of_t_22/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__typK {
    padding-bottom: 0px;
  }
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__qbprW {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qbprW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qbprW > :global(.__wab_flex-container) > *,
.freeBox__qbprW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qbprW > :global(.__wab_flex-container) > picture > img,
.freeBox__qbprW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ttNtm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ttNtm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ttNtm > :global(.__wab_flex-container) > *,
.freeBox__ttNtm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ttNtm > :global(.__wab_flex-container) > picture > img,
.freeBox__ttNtm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__mFe1E {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-Ce8-PtXVJFt3);
  min-width: 0;
}
.button__iD5X:global(.__wab_instance) {
  position: relative;
}
.svg__lmnGm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__thqe3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__qIiXe {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__yrsM9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__gxktA {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__xyQsP:global(.__wab_instance) {
  position: relative;
}
.svg__vOxdj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fs0GF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard___5F42B:global(.__wab_instance) {
  position: relative;
}
.svg__eNpvS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l0Na3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__fIlHo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text__kBa75 {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-SHOLaE_i3vXl);
  min-width: 0;
}
.rating___3GUtt:global(.__wab_instance) {
  position: relative;
}
.productCard__vtw0H:global(.__wab_instance) {
  position: relative;
}
.svg__pv81V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tlrxL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hle66 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__bIbet {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__xb7Gg:global(.__wab_instance) {
  position: relative;
}
.productCard__q0Ixr:global(.__wab_instance) {
  position: relative;
}
.svg__yBsVj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6FxS1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__cXxv9 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__yHgkw {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__rybdg:global(.__wab_instance) {
  position: relative;
}
.productCard__xx1W:global(.__wab_instance) {
  position: relative;
}
.svg___5NsYc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ib8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__diwEp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__a9Wi {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__z8Ls:global(.__wab_instance) {
  position: relative;
}
.productCard__rp77B:global(.__wab_instance) {
  position: relative;
}
.svg__i6VFt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__el7Oy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___1JAjx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__aPsHf {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__erUiG:global(.__wab_instance) {
  position: relative;
}
.productCard__wp1Gj:global(.__wab_instance) {
  position: relative;
}
.svg__miwuc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i9Xqg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hiKJ {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__si4HP {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-SHOLaE_i3vXl);
  font-size: 14px;
  min-width: 0;
}
.rating___5IIhq:global(.__wab_instance) {
  position: relative;
}
.section__hmS6R {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__ocqGz {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__ocqGz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ocqGz > :global(.__wab_flex-container) > *,
.freeBox__ocqGz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocqGz > :global(.__wab_flex-container) > picture > img,
.freeBox__ocqGz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ocqGz {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ocqGz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ocqGz > :global(.__wab_flex-container) > *,
  .freeBox__ocqGz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ocqGz > :global(.__wab_flex-container) > picture > img,
  .freeBox__ocqGz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__t0YyU {
  display: flex;
  flex-direction: column;
}
.freeBox__t0YyU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__t0YyU > :global(.__wab_flex-container) > *,
.freeBox__t0YyU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t0YyU > :global(.__wab_flex-container) > picture > img,
.freeBox__t0YyU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dTx9P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dTx9P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dTx9P > :global(.__wab_flex-container) > *,
.freeBox__dTx9P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dTx9P > :global(.__wab_flex-container) > picture > img,
.freeBox__dTx9P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mwbzN {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__e6GY {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__gr5Wr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gr5Wr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gr5Wr > :global(.__wab_flex-container) > *,
.freeBox__gr5Wr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gr5Wr > :global(.__wab_flex-container) > picture > img,
.freeBox__gr5Wr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gr5Wr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gr5Wr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gr5Wr > :global(.__wab_flex-container) > *,
  .freeBox__gr5Wr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gr5Wr > :global(.__wab_flex-container) > picture > img,
  .freeBox__gr5Wr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text___9FSb {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__dPeKz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lpgQl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oKMxR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__k23BU:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___5VRwl {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__p2SXx {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__jNpg6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__ga5Vi:global(.__wab_instance) {
  position: relative;
}
.svg__hil0U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rBEqV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__w6Or8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___7CwWi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___2UdH {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__ypNuF {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__njUXs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__bmjDp:global(.__wab_instance) {
  position: relative;
}
.svg__fw8Ho {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7BLvL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__benxv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__lOjOj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__lOjOj:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__teP5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__ofyWw {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__zhyGf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__w50Il:global(.__wab_instance) {
  position: relative;
}
.svg__zAyju {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cN86 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___7N3WO {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__iSaU7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__q1A0I {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__bwqFd:global(.__wab_instance) {
  position: relative;
}
.svg__bvkpc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jTgFg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__tIgOq {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__tIgOq > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__tIgOq > :global(.__wab_flex-container) > *,
.freeBox__tIgOq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tIgOq > :global(.__wab_flex-container) > picture > img,
.freeBox__tIgOq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg___6ZCLl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fZut3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ooJpY {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___98EhQ {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__z7Imk:global(.__wab_instance) {
  position: relative;
}
.productCard__xClu:global(.__wab_instance) {
  position: relative;
}
.svg__oyly {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mephA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__zzFj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tHmoh {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__kP8Yh:global(.__wab_instance) {
  position: relative;
}
.productCard__pfy:global(.__wab_instance) {
  position: relative;
}
.svg__siUv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qsO7E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nYKnO {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0ERx {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__qCDts:global(.__wab_instance) {
  position: relative;
}
.productCard__seCY:global(.__wab_instance) {
  position: relative;
}
.svg__jkR0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v6Wsy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__bcigM {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__xz70V {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating___6Ss7R:global(.__wab_instance) {
  position: relative;
}
.productCard__ivyWp:global(.__wab_instance) {
  position: relative;
}
.svg__wfQen {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mglxA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uQwpp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___29UsX {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__tI70G:global(.__wab_instance) {
  position: relative;
}
.productCard__puCjj:global(.__wab_instance) {
  position: relative;
}
.svg__s6J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y86D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__iDEzL {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__aJkOl {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-SHOLaE_i3vXl);
  font-size: 14px;
  min-width: 0;
}
.rating__utxrU:global(.__wab_instance) {
  position: relative;
}
.section___51Wu2 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__p4Hqk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__p4Hqk > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__p4Hqk > :global(.__wab_flex-container) > *,
.freeBox__p4Hqk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p4Hqk > :global(.__wab_flex-container) > picture > img,
.freeBox__p4Hqk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__e5GhS {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__mdzNr:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__lxIn9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___3Dzo5 {
  height: auto;
}
.svg__sr4CT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ngYk9:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__n39Pt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zf8Uv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xzYl1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___7NuW1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eOjcy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___66299:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__bRr8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ci8G6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rtByM:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__usy1M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bxn83 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vyxeA:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___3JdWx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hPuuX {
  height: auto;
}
.svg__bK5Yj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___5Yj7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___5Yj7 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___5Yj7 > :global(.__wab_flex-container) > *,
.freeBox___5Yj7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Yj7 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Yj7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Yj7 > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__h3PL:global(.__wab_instance) {
  position: relative;
}
.svg__ueX1X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gOcPx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ajNtL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__kF5R {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__ka63:global(.__wab_instance) {
  position: relative;
}
.productCard__jPz0O:global(.__wab_instance) {
  position: relative;
}
.svg___1Y2F9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q2Tjn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qxh00 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fDsin {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__xL96:global(.__wab_instance) {
  position: relative;
}
.productCard__drhQ:global(.__wab_instance) {
  position: relative;
}
.svg__qtA40 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Ry8E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___2I0V {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__r7HFb {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__uv51X:global(.__wab_instance) {
  position: relative;
}
.productCard__cxdW:global(.__wab_instance) {
  position: relative;
}
.svg__ql6Jg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7GtqZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___2Gv3N {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hPgM2 {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__assxs:global(.__wab_instance) {
  position: relative;
}
.productCard__mlz6X:global(.__wab_instance) {
  position: relative;
}
.svg__qPlp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oPrhA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pnvqC {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ztm4 {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating___0Qs6:global(.__wab_instance) {
  position: relative;
}
.productCard__bdb22:global(.__wab_instance) {
  position: relative;
}
.svg__pdD0E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nhmI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__mcvGi {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___6EjGq {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__iB3KD:global(.__wab_instance) {
  position: relative;
}
.productCard__dqp74:global(.__wab_instance) {
  position: relative;
}
.svg__n5IF3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e2Io {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qZtFf {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0UqY9 {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__z3Lhi:global(.__wab_instance) {
  position: relative;
}
.productCard__cejDk:global(.__wab_instance) {
  position: relative;
}
.svg__s65Xo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xnCF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___3X74W {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__t7TuP {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__oOrul:global(.__wab_instance) {
  position: relative;
}
.productCard__lR1Y:global(.__wab_instance) {
  position: relative;
}
.svg__qvTf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__giFhj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qKvXk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__idx5Y {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__v5ARo:global(.__wab_instance) {
  position: relative;
}
.productCard__fz4P4:global(.__wab_instance) {
  position: relative;
}
.svg__gqi5O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jM7Jr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__cEpCx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__b4Qyv {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__mG5Ez:global(.__wab_instance) {
  position: relative;
}
.productCard__vuJkq:global(.__wab_instance) {
  position: relative;
}
.svg__gnK3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sGa8F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dsPVf {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__l10G {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__idDQm:global(.__wab_instance) {
  position: relative;
}
.productCard__ygCWa:global(.__wab_instance) {
  position: relative;
}
.svg__kZgEn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dpcEx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__i7Ik {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__va7W7 {
  width: 100%;
  height: auto;
  color: var(--token-SHOLaE_i3vXl);
  text-align: left;
  min-width: 0;
}
.rating__j1SrK:global(.__wab_instance) {
  position: relative;
}
.section__gHIo1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__mUaUc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__y4P89 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__l2U6K {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__u4Ow {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__aVHwf:global(.__wab_instance) {
  position: relative;
}
.svg__lGfz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ngF2G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__xntsf {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__z74Lc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__nxusq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__nxusq:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__stdjT {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__fnkgw {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__mvH4A:global(.__wab_instance) {
  position: relative;
}
.svg__hpHb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wFbXf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tMzj3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__dwoFm:global(.__wab_instance) {
  position: relative;
}
.svg__yivz9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__av11P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ew7YW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___93ZXu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___93ZXu:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__xXuGg {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__rR4Yr {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__aFoek:global(.__wab_instance) {
  position: relative;
}
.svg___3D9EB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__geRa4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___26R5C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__mzLf3:global(.__wab_instance) {
  position: relative;
}
.svg__eh1MC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sle17 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__oa7E5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__wxgZc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__wxgZc:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__bVypH {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__tvb {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___3ZU7G:global(.__wab_instance) {
  position: relative;
}
.svg__isHDk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wVxVh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bzyrc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__ixzBf:global(.__wab_instance) {
  position: relative;
}
.svg__cdb4Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Scpc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qIvJq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__hkuwA:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__hkuwA:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__gkfHg {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__plX1 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__gEsMz:global(.__wab_instance) {
  position: relative;
}
.svg__wIqms {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cIukc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__t1JlY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__dlWk2:global(.__wab_instance) {
  position: relative;
}
.svg__gCtO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jxVwG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
